* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: block;
    margin: 8px;
}
.list {
    background: #4286f4;
    width: 600px;
    padding: 1rem;
}
.list-item, .title {
    background: #8bb3f4;
    border: 1px solid #fff;
    margin: 1px 0;
    padding: .5rem;
}
.title {
    background: #ff6f00;
}
.opacity {
    opacity: 0.5;
  }